{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %} - All Posts{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            <h3>Search Results For: {{ category.name }}</h3>
            </div>
        </div>
        </div>
    </div>
    </header>

    <!-- Main Content -->
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        
        {% if posts %}
            {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'post' post.id %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subheading }}</h3>
                    </a>
                    <p class="post-meta">Posted in
                    <a href="{% url 'category' post.category_id %}">{{ post.category.name }}</a>
                    on {{ post.create_date | timesince }}</p>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No Post Found</p>
        {% endif %}
        
        
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
        </div>
    </div>
    </div>

    <hr>

    
{% endblock %}